# Created by https://www.toptal.com/developers/gitignore/api/c++,cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,cmake

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

.vscode/

# Executables
exercises-w1/cat
exercises-w1/fib_vector_test
exercises-w1/random
exercises-w1/setdiff_test
exercises-w1/sort3_test
exercises-w1/namespace
exercises-w1/cat_file

exercises-w2/mc_q1
exercises-w2/mc_q2
exercises-w2/mc_q3
exercises-w2/mc_q4
exercises-w2/mc_q5
exercises-w2/assortment_test
exercises-w2/mismatch_test
exercises-w2/mixer_test
exercises-w2/permutation_test
exercises-w2/scale_test
exercises-w2/map_access

# End of https://www.toptal.com/developers/gitignore/api/c++,cmake